.navigation__box {
  background-color: yellow;
  opacity: .5;
  position: fixed;
  float: left; }

.header {
  background: #464752;
  background: linear-gradient(180deg, #464752 52%, #dad6c4 52%);
  padding-top: 5rem;
  padding-bottom: 1.5rem; }
  .header__inside {
    background: #464752;
    background: linear-gradient(155deg, #464752 52%, #dad6c4 52%);
    min-width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 768px) {
      .header__inside {
        min-height: 700px; } }
    @media (min-width: 992px) {
      .header__inside {
        min-height: 750px; } }
    @media (min-width: 1200px) {
      .header__inside {
        min-height: 1000px; } }
  .header__text {
    text-align: center;
    mix-blend-mode: hard-light; }
    .header__text__main {
      font-family: 'Oswald', sans-serif;
      font-size: 4rem;
      color: #ffcd01;
      padding-bottom: 2rem; }
    .header__text__subtitle {
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      color: #ffcd01; }
  .header__arrow {
    color: #1c1f25;
    text-align: center;
    margin-top: 30%;
    mix-blend-mode: multiply; }
    .header__arrow--large {
      color: #1c1f25;
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 2rem; }
    .header__arrow--medium {
      color: #1c1f25;
      text-align: center;
      margin-bottom: 1.25rem;
      font-size: 1.5rem; }
    .header__arrow--small {
      color: #1c1f25;
      text-align: center;
      font-size: 1rem;
      padding-bottom: 3rem; }

.about {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background: #40CAA7;
  background: linear-gradient(180deg, #40CAA7 52%, #009680 52%); }
  .about__inside {
    background: #40CAA7;
    background: linear-gradient(205deg, #40CAA7 52%, #009680 52%);
    min-width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 768px) {
      .about__inside {
        min-height: 700px; } }
    @media (min-width: 992px) {
      .about__inside {
        min-height: 750px; } }
    @media (min-width: 1200px) {
      .about__inside {
        min-height: 1000px; } }
  .about__content {
    padding-top: 2rem; }
    .about__content__opener {
      color: #052d28;
      font-size: 1.75rem; }
    .about__content__title {
      color: #55E1BD;
      font-size: 2.5rem;
      font-weight: bold;
      mix-blend-mode: hard-light;
      text-shadow: 2px 2px 2px #009680; }
    .about__content__text {
      color: #052d28;
      padding-bottom: 2rem;
      font-size: 1.75rem;
      mix-blend-mode: hard-light; }
      .about__content__text--extra {
        color: #00fff7; }
      .about__content__text__special {
        padding-top: 1rem;
        font-style: italic;
        font-size: 1.25rem; }
        .about__content__text__special--extra {
          color: #00fff7; }

.personal {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background: #28314d;
  background: linear-gradient(180deg, #28314d 52%, #27416b 52%); }
  .personal__inside {
    background: #28314d;
    background: linear-gradient(155deg, #28314d 52%, #27416b 52%);
    min-width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 768px) {
      .personal__inside {
        min-height: 700px; } }
    @media (min-width: 992px) {
      .personal__inside {
        min-height: 750px; } }
    @media (min-width: 1200px) {
      .personal__inside {
        min-height: 1000px; } }
  .personal__content {
    padding-top: 2rem; }
    .personal__content__section {
      color: #4e8de1;
      font-size: 1.75rem; }
    .personal__content__opener {
      color: #f8cf41;
      padding-bottom: 2rem;
      font-size: 1.75rem;
      mix-blend-mode: hard-light; }
    .personal__content__title {
      color: #64f9f9;
      font-size: 2.5rem;
      font-weight: bold;
      mix-blend-mode: hard-light; }
    .personal__content__text {
      color: #f8cf41;
      padding-bottom: 2rem;
      font-size: 1.25rem;
      mix-blend-mode: hard-light; }
      .personal__content__text--italics {
        font-style: italic; }
      .personal__content__text__list {
        color: #f8cf41;
        font-size: initial; }
      .personal__content__text--link {
        background: linear-gradient(to left, #64f9f9, #f8cf41);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
        border-bottom: 1px solid #f8cf41; }
        .personal__content__text--link:hover {
          border-bottom: 1px solid #64f9f9; }

.projects {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background: #dad6c4;
  background: linear-gradient(180deg, #dad6c4 52%, #464752 52%); }
  .projects__inside {
    background: #dad6c4;
    background: linear-gradient(205deg, #dad6c4 52%, #464752 52%);
    min-width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 768px) {
      .projects__inside {
        min-height: 700px; } }
    @media (min-width: 992px) {
      .projects__inside {
        min-height: 750px; } }
    @media (min-width: 1200px) {
      .projects__inside {
        min-height: 1000px; } }
  .projects__content {
    padding-top: 2rem;
    text-shadow: 1px 1px 1px #464752; }
    .projects__content__opener {
      color: #ffcd01;
      padding-bottom: 2rem;
      font-size: 1.75rem;
      mix-blend-mode: hard-light; }
    .projects__content__work {
      color: #1c1f25;
      font-size: 2.5rem;
      font-weight: bold;
      mix-blend-mode: hard-light; }
      .projects__content__work--link {
        background: linear-gradient(205deg, #ffcd01, #dad6c4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1px solid #ffcd01;
        text-shadow: none; }
        .projects__content__work--link:hover {
          border-bottom: 1px solid #dad6c4;
          text-decoration: none; }
    .projects__content__skill {
      color: #1c1f25;
      padding-bottom: 2rem;
      font-size: 1.25rem;
      mix-blend-mode: hard-light;
      padding-bottom: 0; }
      .projects__content__skill--link {
        background: linear-gradient(to left, #ffcd01, #dad6c4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1px solid #ffcd01; }
        .projects__content__skill--link:hover {
          border-bottom: 1px solid #dad6c4; }

.contact {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  background: #28314d;
  background: linear-gradient(180deg, #28314d 52%, #27416b 52%); }
  .contact__inside {
    background: #28314d;
    background: linear-gradient(155deg, #28314d 52%, #27416b 52%);
    min-width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 768px) {
      .contact__inside {
        min-height: 700px; } }
    @media (min-width: 992px) {
      .contact__inside {
        min-height: 750px; } }
    @media (min-width: 1200px) {
      .contact__inside {
        min-height: 1000px; } }
  .contact__content {
    padding-top: 2rem; }
    .contact__content__hire {
      color: #052d28;
      font-size: 1.25rem; }
      .contact__content__hire--link {
        background: linear-gradient(to left, #55E1BD, #009680);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
        border-bottom: 1px solid #f8cf41; }
    .contact__content__follow {
      color: #052d28;
      padding-bottom: 2rem;
      font-size: 1.75rem;
      mix-blend-mode: hard-light; }
      .contact__content__follow--extra {
        color: #00fff7; }
    .contact__content__connect {
      color: #052d28;
      padding-bottom: 2rem;
      font-size: 1.75rem;
      mix-blend-mode: hard-light; }
      .contact__content__connect--extra {
        color: #00fff7; }

/*# sourceMappingURL=App.css.map */
