$xl-text: 4rem;
$large-text: 2.5rem;
$med-text: 1.5rem;

@mixin primary-text {
  font-family: 'Oswald', sans-serif;
}

@mixin secondary-text {
  font-family: 'Montserrat', sans-serif;
}

@mixin section-gradient {
  background-image: -webkit-linear-gradient(32deg, #08AEEA 0%, #2AF598 100%);
  background-image: -moz-linear-gradient(32deg, #08AEEA 0%, #2AF598 100%);
  background-image: -o-linear-gradient(32deg, #08AEEA 0%, #2AF598 100%);
  background-image: linear-gradient(32deg, #08AEEA 0%, #2af598 100%);

  //background: rgb(25, 58, 237);
  //background: linear-gradient(15deg, rgba(25, 58, 237, 1) 0%, rgba(14, 134, 235, 1) 23%, rgba(8, 172, 234, 1) 39%, rgba(0, 240, 89, 1) 100%);
}

@mixin section-spacer {
  margin: {
    top: 2rem;
  }
  padding: {
    top: 2rem;
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
  }
}

section {
}

.page {
  //background-color: #076991;
  //background: rgb(102, 124, 238);
  background: linear-gradient(311deg, rgba(102, 124, 238, 1) 0%, rgba(255, 175, 89, 1) 100%);
  color: white;
}

.navigation {

  &__box {
    background-color: yellow;
    opacity: .5;

    position: fixed;
    float: left;

  }

}

.title {
  padding: {
    top: 5rem;
    bottom: 3rem;
  }
  text-shadow: 1px 1px 2px #285231;

  &__text {

    &__main {
      @include primary-text;
      font: {
        size: $xl-text;
      }
      color: white;

    }
    &__subtitle {
      @include secondary-text;
      font: {
        size: $large-text;
      }
    }

  }
}

.about {
  @include section-spacer;
  @include secondary-text;
  font: {
    size: $med-text;
  }
  border: {
    width: 2px;
    style: solid;
    color: black;
    radius: 2rem;
  }
  @include section-gradient
}

.dcGov {
  //@include section-spacer

  &__projects {
    border: {

    }
  }
}
